body {
  margin: 0;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  position: fixed;
  font-size: 64px;
  font-family: "etna", sans-serif;
  /* bottom: 20px;
  left: 20px; */
  color: #0E6F85;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  margin-bottom: -500px;
  margin-left: -650px;
  line-height: 70px;
}

#loveLetter {
  color: #000; 
  /* text-align: center; */
  font-family: "quasimoda", sans-serif;
font-weight: 400;
  font-size: 17px;
  max-width: 60%;
  margin: 20px;
  /* font-size: 18px; */
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 87vh; 
}

.vertical-line {
  position: fixed;
  left: 15%;
  bottom: 8%;
  transform: translateX(-50%); /* Center the line horizontally */
  width: 1.5px; /* Adjust the width of the line */
  height: 80vh;
  background-color: #0E6F85; /* Adjust the color of the line */
  z-index: 1; /* Ensure the line is above other content */
}

.home-button:hover span {
  text-decoration: underline;
}

.home-button {
  z-index: 1;
  font-family: "quasimoda", sans-serif;
  font-weight: 400;
  font-size: 16px; 
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  display: inline-block; /* Add this to make the anchor behave like a block element */
  text-decoration: none;
}

.circle-button {
  z-index: 1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}


span {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2em;
  color: #333;
}


.arrow-button {
  position: fixed;
  bottom: 50%;
  font-size: 24px;
  width: 35px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  background-color: #000000; /* Default button color */
  color: #fff;
  border-radius: 50%; /* Circular shape */
  cursor:pointer;
  transition: background-color 0.3s ease;
}

.arrow-button:hover {
  background-color: #2980b9; /* Button color on hover */
}

.arrow-button:active {
  background-color: #1f618d; /* Button color on click */
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}


@media only screen and (max-width: 600px) {
  .container {
    height: 70vh;
    top: 90px;
}

  #title {
    transform: rotate(0deg);
    font-size: 24px;
    margin-left: 0;
    top: 50px;
    line-height: 30px;
  }

  #loveLetter {
    font-size: 14px;
  }

  .home-button {
    top: 10px;
    right: 10px;
    font-size: 14px;
  }
}

