h1 {
  position: relative;
  font-size: 82px;
  font-family: "etna", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #99BF5A;
  margin-top: 10px;
  text-align: left;
  margin-left: 50px;
  line-height: 1.8cm;
}

.horizontal-line {
  position: absolute;
  /* z-index: 1; */
  margin-left: -10px;
  bottom: 680px;
  width: 45%; /* Set the width of the line */
  height: 1.5px; /* Set the height of the line */
  background-color: #99BF5A; /* Set the color of the line */
}


.home-button:hover span {
  text-decoration: underline;
}

.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  display: inline-block; /* Add this to make the anchor behave like a block element */
  text-decoration: none;
}

.circle-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

span {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2em;
  color: #333;
}

.arrow-button {
  position: fixed;
  bottom: 50%;
  font-size: 24px;
  width: 35px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  background-color: #000000; /* Default button color */
  color: #fff;
  border-radius: 50%; /* Circular shape */
  cursor:pointer;
  transition: background-color 0.3s ease;
}

.arrow-button:hover {
  background-color: #2980b9; /* Button color on hover */
}

.arrow-button:active {
  background-color: #1f618d; /* Button color on click */
}

#prevButton {
  z-index: 1;
  left: 10px;
}

#nextButton {
  z-index: 1;
  right: 10px;
}

body {
  overflow: hidden;
  font-family: 'Roboto', serif;
  background: #ffffff;
}

.carousel {
  position: relative;
  z-index: 0;
  height: 100vh;
  /* margin-left: 30px; */
  /* overflow: hidden; */
  pointer-events: none;
}

.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw,  300px);
  --height: clamp(200px, 40vw,  400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .5);
  background: black;
  pointer-events: all;
  transform:  translate(var(--x), var(--y)) rotate(var(--rot)) ;
  transition: transform .8s cubic-bezier(0, 0.02, 0, 1);

  .carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
    font-family: 'Orelo-sw-db', serif;

    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5));
    }
  }

  .title {
    position: absolute;
    font-family: "quasimoda", sans-serif;
    font-weight: 400;
    font-size: 20px;
    z-index: 1;
    color: #fff;
    bottom: 20px;
    left: 20px;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 3vw, 30px);
    text-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  }

  .num {
  font-family: "quasimoda", sans-serif;
  font-weight: 400;
  font-size: 20px;
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 10px;
    left: 20px;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 10vw, 80px);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}

.layout {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 90px;
    width: 10px;
    height: 100%;
    border: 1px solid #fff;
    border-top: none;
    border-bottom: none;
    opacity: .15;
  }

  .box {
    position: absolute;
    bottom: 0;
    left: 30px;
    color: #fff;
    transform-origin: 0% 10%;
    transform: rotate(-90deg);
    font-size: 9px;
    line-height: 1.4;
    text-transform: uppercase;
    opacity: .4;
  }
}

.cursor {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, .2);
  margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
  transition: transform .85s cubic-bezier(0, 0.02, 0, 1);
  display: none;
  pointer-events: none;
  
  @media (pointer: fine) {
    display: block;
  }
}

.cursor2 {
  --size: 2px;
  transition-duration: .7s;
}




















