body {
  /* font-family: 'Arial', sans-serif;
  margin: 20px; */
  background-color: #f4f4f4;
}

.horizontal-line {
  position: fixed;
  z-index: 1;
  margin-left: -330px;
  bottom: 660px;
  width: 34%; /* Set the width of the line */
  height: 1.5px; /* Set the height of the line */
  background-color: #EB7262; /* Set the color of the line */
}

.home-button:hover span {
  text-decoration: underline;
}

.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  display: inline-block; /* Add this to make the anchor behave like a block element */
  text-decoration: none;
}

.circle-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}


span {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2em;
  color: #333;
}



h1 {
  position: fixed;
  font-size: 82px;
  font-family: "etna", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #EB7262;
  text-align: left;
  margin-left: 70px;
  bottom: 622px;
  line-height: 2cm;

}

.receipt {
  max-width: 50%;
  margin: auto;
  padding: 30px;
  background-color: white;
  /* border: 2px solid #ddd; */
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(71, 71, 71, 0.1); */
  animation: fadeIn 1s ease-out; /* Add animation for fade-in effect */
}

/* @keyframes fadeIn {
  from {
      filter: blur(8px);
      opacity: 0;
  }
  to {
      filter: blur(0);
      opacity: 1;
  }
} */

h2 {
  font-family: "quasimoda", sans-serif;
  text-align: center;
  color: #333;
  margin-bottom: 5px;
  font-size: 17px; /* Adjust the font size to make h2 smaller */
  font-weight: lighter; /* Adjust the font weight to make it lighter */
}

.line {
  border-top: 1px dashed #afadad;
  margin-bottom: 50px;
margin-left: 150px;
  width: 60%;
  opacity: 50%;
}

.date-time {
  font-family: "quasimoda", sans-serif;
  margin-top: -10px;
  text-align: center;
  font-size: 17px;
  color: #777;
}

.dine-in {
  font-family: "quasimoda", sans-serif;
  text-align: center;
  font-size: 16px;
  color: #777;
  margin-top: -50px;
  margin-bottom: 20px 0;
  /* border-bottom: 1px dashed  #afadad; */


}



.restaurant {
  margin-bottom: 10px;
  padding-bottom: 10px;
  
}

.restaurant h3 {
  font-family: "quasimoda", sans-serif;
  font-size: 24px;
  margin: 20px 0;
  color: #333;
  /* font-weight: semibold; */
}

.restaurant p {
  color: #777;
}

.start {
  
  font-size: 10px;
  font-family: "quasimoda", sans-serif;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-right: 140px;
  margin-left: 140px;
}


.item {
  font-family: "quasimoda", sans-serif;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 120px;
  font-size: 15 px;
}

.item span {
  display: inline-block;
  width: 60%;
}

.total {
  margin-top: 15px;
  font-weight: bold;
  text-align: right;
  font-size: 1.2em;
  color: #333;
}

.arrow-button {
  position: fixed;
  bottom: 50%;
  font-size: 24px;
  width: 35px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  background-color: #000000; /* Default button color */
  color: #fff;
  border-radius: 50%; /* Circular shape */
  cursor:pointer;
  transition: background-color 0.3s ease;
}

.arrow-button:hover {
  background-color: #2980b9; /* Button color on hover */
}

.arrow-button:active {
  background-color: #1f618d; /* Button color on click */
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}

/* Responsive styles for iPhone */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    bottom: auto;
    line-height: 1.2;
  }

  .horizontal-line {
    left: 108%;
    top: 50px;
    width: 60%
  }

  /* Add space below the line to avoid overlapping */
  .receipt {
    margin-bottom: 20px;
  }

  /* Add a little more space for the arrow buttons */
  .arrow-button {
    bottom: 30%;
  }

  /* Responsive styles for item, line, restaurant, date-time, and dine-in */
  .item {
    margin-left: 20px;
    font-size: 10px;  }

  .line {
    margin-left: 40px;
    width: 60%;
  }

  .restaurant {
    margin-left: 20px;
    font-size: 9px;
  }

  .date-time {
    margin-left: 20px;
    font-size: 14px;
  }

  .dine-in {
    margin-left: 20px;
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 10px;
  }

  .start {
    font-size: 10px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .start span {
    width: 48%; /* Adjust width for better responsiveness */
    margin-bottom: 10px;
  }
}