body{
   background-color: #ffffff;
    background-repeat: repeat-x;
    /* //will not scroll with the rest of the page */
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
    h1 {
        position: absolute;
        font-size: 82px;
        font-family: "etna", sans-serif;
        font-weight: 800;
        font-style: normal;
        color: #B184CD;
        text-align: left;
        margin-left: 50px;
      bottom: 680px;
      line-height: 2cm;
    }

    .horizontal-line {
      position: absolute;
      margin-left: 45px;
      bottom: 730px;
      width: 48%; /* Set the width of the line */
      height: 1.5px; /* Set the height of the line */
      background-color: #B184CD; /* Set the color of the line */
    }
    
    
  .row {
    margin: 40px auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);    
      width: 90%;
      grid-column-gap: 1%;
  }

  .gallery {
    margin-top: 13%;
  }

  .thumbnail{
    border-radius: 5px;
    justify-self:center;
    transition:.5s;
  }
  .photoContainer{
    /* border: 10px solid #000; */
    border-radius: 5px;
    text-align:center;
    position:relative;
    transform:perspective(500px) rotateY(5deg) ;
    width:90%;
  }
  .photoContainer:hover{
    border: 10px solid #B184CD;
    border-radius: px;
    animation-name:thumbTitle;
    animation-duration: 1s;
    animation-fill-mode:both;
    transition-timing-function: ease-in;
  }
  
  @keyframes thumbTitle{
    0% {
      transform:perspective(500px) rotateY(5deg) scale(1) ;
    }
    20% {
      transform:perspective(500px) rotateY(-10deg) scale(1.1);
    }
    100%{
      transform:perspective(500px) rotateY(0deg) scale(1.2);
    }
  }
  .photoContainer:hover .photoInfo{
    animation-name:infoSlide;
    animation-duration: 1s;
    animation-fill-mode:both;
    transition-timing-function: ease-in;
  }
  @keyframes infoSlide{
    0%{
      opacity:0;
      transform: translateX(2.4em);
    }
    100%{
      opacity:1;
      transform: translateX(0);
      visibility:visible;
    }
  }
  .photoContainer a{
    display:block;
    width:230px;    
    height: 308px;
    text-decoration: none;
  }
  .photoContainer a img{
    width:100%;
    opacity:.5;
  }
  .photoContainer a img:hover{
    animation-name:imgTransparency;
    animation-duration: 1s;
    animation-fill-mode:both;
    transition-timing-function: ease-in;
  }
  @keyframes imgTransparency{
    0% {
      opacity:.5;
    }
    100% {
      opacity: 1;
    }
  }
  .photoInfo{
    background-color:#ffffff;
    border-radius: 5px;
    font-family: "quasimoda", sans-serif;
  font-weight: 400;
  font-size: 12px;
    position:absolute;
    bottom:0px;  
    text-align:center;
    visibility:hidden;
  }
  
  .photoInfo h3{
    font-family: "quasimoda", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin:7px 10px;
    font-weight:normal;
    color: #000000;
  }
  

  .home-button:hover span {
    text-decoration: underline;
  }
  
  .home-button {
    font-family: "quasimoda", sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    display: inline-block; /* Add this to make the anchor behave like a block element */
    text-decoration: none;
  }
  
  .circle-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  span {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
    color: #333;
  }

  .arrow-button {
    position: fixed;
    bottom: 50%;
    font-size: 24px;
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    background-color: #000000; /* Default button color */
    color: #fff;
    border-radius: 50%; /* Circular shape */
    cursor:pointer;
    transition: background-color 0.3s ease;
  }
  
  .arrow-button:hover {
    background-color: #2980b9; /* Button color on hover */
  }
  
  .arrow-button:active {
    background-color: #1f618d; /* Button color on click */
  }
  
  #prevButton {
    left: 10px;
  }
  
  #nextButton {
    right: 10px;
  }


  @media only screen and (max-width: 600px) {
    body {
      overflow-x: hidden; /* Hide horizontal scrollbar */
      margin: 0; /* Remove default body margin */
    }

    h1 {
      top: 20px;
      font-size: 24px;
      margin-left: 100px;
      text-align: center;
      line-height: 1.2;
      /* bottom: auto; */
    }

    .horizontal-line {
      position: absolute;
      margin-left: 70px;
      top: 70px;
      width: 55%;
    }

    .home-button {
      top: 10px;
      right: 10px;
    }

    .circle-button {
      width: 20px;
      height: 20px;
      font-size: 0.8em;
    }
  
    span {
      font-size: 0.8em;
    }
  
    .arrow-button {
      bottom: 30%;
      width: 25px;
      height: 25px;
      line-height: 25px;
      font-size: 14px;
    }
  
    .gallery {
      margin-top: 10%;
    }
  
    .thumbnail {
      width: 90%;
      margin: 10px auto;
    }
  
    .photoContainer {
      width: 100%;
      transform: perspective(500px) rotateY(0deg);
    }
  
    .photoInfo h3 {
      font-size: 14px;
    }
  
    .arrow-link {
      display: block;
      margin: 10px;
    }
  }