body {
    height: 100vh;
    background: linear-gradient(
        to right, 
        rgb(255, 252, 242) 0%,
        rgb(255, 252, 242) 50%,
        rgb(255, 252, 242) 50%,
        rgb(255, 252, 242) 100%
    );

    transition: 4s;
}

h1 {
    /* transition: transform 0.8s ease;
    transform-origin: center; */
    position: relative;
    color: rgb(228, 12, 155);
    font-family: "didoni-urw", serif;
font-weight: 580;
font-style: normal;
font-size: 50px;
    text-align: left;
    margin-left: 35px;
  margin-top: 10px;
}


.container{
    position: relative;
    width: 100%;
margin-left: 35px;
width: 200px;
}

P {
    color: rgb(228, 12, 155);
    font-family: "serenity", sans-serif;
}
  /* If the browser window is smaller than 650px, the background color will change to black and the text to white: */

  @media (max-width: 700px) {
  p {
      background-color: rgb(228, 12, 155);
      color: rgb(255, 252, 242);
    }

    p {
        background-color: rgb(228, 12, 155) ;
        color: rgb(255, 252, 242);
    } 
}

  /* The body's font-size is smaller by default */
body {
    font-size: 16px;
  }
  
  /* Tablet breakpoint */
  @media (min-width: 768px) {
  body {
      font-size: 40px;
    }
  }
  
  /* Desktop breakpoint */
  @media (min-width: 992px) {
    body {
      font-size: 50px;
    }
  }
  
  /* Wide screen breakpoint */
  @media (min-width: 1200px) {
   body {
      font-size: 60px;
    }
  }

  /* If the browser window is shorter than 650px, the background will turn orange */


@media (max-height: 700px) {
   body {
      background-color: rgb(228, 12, 155);
    }
}
  /* .container {
    max-width: 300px;
    text-align: center;
} */



