body {
  margin: 0;
  overflow: hidden;
  background-color: #000000;
  /* background-color: #EEECEA; */
}

h1 {
  position: fixed;
  font-size: 82px;
  font-family: "etna", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 70px;
  bottom: 65px;
  margin-top: 480px;
  line-height: 2cm;

  stroke-dasharray: 1360;
  animation-iteration-count: 1;
  animation: csvg 3s cubic-bezier(0, 0.23, 1, .1);
}

h3{
  color: rgb(255, 255, 255);
  font-family: "quasimoda", sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: fixed;
  margin-left: 72px;
  bottom: 60px;
}


/* ----------------------------------- */

.cls-1 {
  fill: #FAF8FF;
  stroke: none;
  stroke-width: 2px;
  font-size: 200px;
  font-family: "etna", sans-serif;
  stroke-dasharray: 1360;
  animation-iteration-count: 1;
  animation: csvg 3s cubic-bezier(0, 0.23, 1, .1);
  margin-top: 100px;
  top: 100px;
}


@keyframes csvg {
  0% {
      stroke: #fff;
      stroke-width: 2px;
      opacity: 0;
      fill: none;
      stroke-dasharray: 0;
  }
  30% {
      stroke: #fff;
      stroke-width: 2px;
      opacity: 10;
      fill: none;
  }
  80% {
      stroke: #fff;
      stroke-width: 2px;
      fill: rgba(255, 255, 255, 0);
  }
  100% {
      opacity: 10;
      fill: #FFE7FF;
      stroke-dasharray: 1360;
      outline: none;
      stroke: none;
  }
}

#wrapper{
  position: absolute;
  top: 510px;
  left: 60px;
}
#wrapper-2{
  position: absolute;
  top: 600px;
  /* margin-top: 50px; */
  margin-left: 60px;

}

body {
  font-family: "etna", sans-serif;
  background-color: #000000;
}

.wrapper {
  font-family: "etna", sans-serif;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ---------------------------------- */
/* .h2 { font-family: "quasimoda", sans-serif;
  font-weight: 400;
    font-size: 14px;
  font-style: normal;
} */

.circle-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  right: 0;
}

.circle {
  width: 180px;
  height: 188px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* right: 100px; */
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.circle-content {
font-style: normal;
}

.circle-title {
  text-align: center;
  font-family: "quasimoda", sans-serif;
font-weight: 700;
font-style: normal;
  margin-bottom: 5px;
  line-height: 100%;
  opacity: 80%;
}

.circle-subtitle {
  text-align: center;
  font-family: "quasimoda", sans-serif;
font-weight: 400;
  font-size: 14px;
  opacity: 90%;
}

.circle img {
  width: 100%; /* Make the image fill the circle */
  height: 100%; /* Make the image fill the circle */
  object-fit: cover; /* Maintain aspect ratio and cover the circle */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.circle:hover {
  transform: scale(1.2);
}

.circle-1 {
  position: absolute;
  /* background-color: #E40C9B; */
  margin-left: -845px;
  margin-top: 80px;
  color: #ffffff;
}

.circle-1:hover {
  background-color: #E40C9B; /* Change color on hover */
}

.circle-2 {
  position: absolute;
  margin-left: -630px;
  margin-top: 30px;
  /* background-color:#EDC14F; */
  color: #ffffff;
}

.circle-2:hover {
  background-color: #EDC14F; /* Change color on hover */
}

.circle-3 {
  position: absolute;
  margin-left: -820px;
  margin-top: 300px;
  /* background-color: #EB7262 ; */
  color: #ffffff;
}

.circle-3:hover {
  background-color: #EB7262; /* Change color on hover */
}

.circle-4 {
  position: absolute;
  margin-left: -600px;
  margin-top: 240px;
  /* background-color: #F574A2; */
  color: #ffffff;
}

.circle-4:hover {
  background-color: #F574A2; /* Change color on hover */
}


.circle-5 {
  position: absolute;
  margin-left: -430px;
  margin-top: 120px;
  /* background-color: #99BF5A; */
  color: #ffffff;
}

.circle-5:hover {
  background-color: #99BF5A; /* Change color on hover */
}

.circle-6 {
  position: absolute;
  margin-left: -615px;
  margin-top: 450px;
  /* background-color: #B184CD; */
  color: #ffffff;
}

.circle-6:hover {
  background-color: #B184CD; /* Change color on hover */
}

.circle-7 {
  position: absolute;
  margin-left: -400px;
  margin-top: 335px;
  /* background-color: #44A98B; */
  color: #ffffff;
}

.circle-7:hover {
  background-color: #44A98B; /* Change color on hover */
}

.circle-8 {
  position: absolute;
  margin-left: -230px;
  margin-top: 220px;
  /* background-color: #0E6F85; */
  color: #ffffff;
}

.circle-8:hover {
  background-color:  #0E6F85; /* Change color on hover */
}

.circle-9 {
  position: absolute;
  margin-left: -400px;
  margin-top: 550px;
  /* background-color: #682E8C; */
  color: #ffffff;
}

.circle-9:hover {
  background-color:  #682E8C; /* Change color on hover */
}

.circle-10 {
  position: absolute;
  margin-left: -210px;
  margin-top: 430px;
  /* background-color: #1D3D93; */
  color: #ffffff;
}

.circle-10:hover {
  background-color:  #1D3D93; /* Change color on hover */
}

/* .circle:hover {
  transform: scale(1.2);
} */


@media (max-width: 390px) {
  #wrapper {
    top: 990px;
  }
}