body {
  margin: 0;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
}

h1 {
  position: fixed;
  font-size: 64px;
  font-family: "azo-sans-web", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(0, 0, 0);
  text-align: left;
  margin-left: 50px;
  bottom: 50px;
margin-top: 480px;
line-height: 2cm;
}

/* .h2 { font-family: "serenity", sans-serif;
  font-weight: 100;
  font-style: normal;
} */

.circle-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  right: 0;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.circle-content {
  text-align: center;
}

.circle-title {
  margin-bottom: 5px;
}

.circle-subtitle {
  font-size: 14px;
}

.circle-1 {
  background-color: rgb(228, 12, 155);
  color: #ffffff;
}

.circle-2 {
  background-color:rgb(10, 33, 95);
  color: #ffffff;
}

.circle-3 {
  background-color:  rgb(33, 90, 81);
  color: #ffffff;
}

.circle-4 {
  background-color: #CB9576;
  color: #ffffff;
}

.circle-5 {
  background-color: #7FA0AC;
  color: #ffffff;
}

.circle-6 {
  background-color: rgb(228, 12, 155);
  color: #ffffff;
}

.circle-7 {
  background-color: rgb(10, 33, 95);
  color: #ffffff;
}

.circle-8 {
  background-color:  rgb(33, 90, 81);
  color: #ffffff;
}

.circle-9 {
  background-color: #CB9576;
  color: #ffffff;
}

.circle-10 {
  background-color: #7FA0AC;
  color: #ffffff;
}

.circle:hover {
  transform: scale(1.2);
}
