

h1{
  position: fixed;
  font-size: 82px;
  font-family: "etna", sans-serif;
  /* bottom: 20px;
  left: 20px; */
  color: #E40C9B;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  margin-bottom: 420px;
  margin-left: -900px;
  line-height: 70px;
}

body {
  height: 100vh;
  color: rgb(255, 255, 255);
  margin: 0rem;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.home-button:hover span {
  text-decoration: underline;
}

.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  display: inline-block; /* Add this to make the anchor behave like a block element */
  text-decoration: none;
}

.circle-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

span {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2em;
  color: #333;
}

.vertical-line {
  position: fixed;
  left: 15%;
  bottom: 55%;
  transform: translateX(-50%); /* Center the line horizontally */
  width: 1.5px; /* Adjust the width of the line */
  height: 60vh;
  background-color: #E40C9B; /* Adjust the color of the line */
  z-index: 1; /* Ensure the line is above other content */
}



p {
  color: #000; 
  text-align: justify;
  font-family: "quasimoda", sans-serif;
font-weight: 400;
  font-size: 14px;
  max-width: 50%;
  /* margin: 20px; */
  margin-top: 10%;
  margin-left: 10%;
  font-size: 18px;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 85vh; 
  
 }

 


.line {
  display: flex;
  justify-content: space-between;
  bottom: 100px;
  font-family: "azo-sans-web", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 600px;
}

