.home-button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  display: inline-block; /* Add this to make the anchor behave like a block element */
  text-decoration: none;
}

h1 {
  position: fixed;
  font-size: 82px;
  font-family: "etna", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #682E8C;
  text-align: left;
  margin-left: 70px;
  bottom: 622px;
  line-height: 2cm;

}

.circle-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}


span {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2em;
  color: #333;
}

.arrow-button {
  position: fixed;
  bottom: 50%;
  font-size: 24px;
  width: 35px;
  height: 35px;
  line-height: 40px;
  text-align: center;
  background-color: #000000; /* Default button color */
  color: #fff;
  border-radius: 50%; /* Circular shape */
  cursor:pointer;
  transition: background-color 0.3s ease;
}

.arrow-button:hover {
  background-color: #2980b9; /* Button color on hover */
}

.arrow-button:active {
  background-color: #1f618d; /* Button color on click */
}

#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
}
#frame {
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
	align-content: center;
}
#side-nav {
	position: fixed;
	width: 90px;
	height: 100%;
	padding: 16px 0 0 0;
	background: #352f44;
	color: #faf0e6;
	font-size: 24px;
	display: flex;
	flex-flow: column wrap;
	justify-content: start;
	align-content: center;
}
#side-nav a {
	font-size: 18px;
	text-decoration: none;
	margin: 16px 0;
	color: #b9b4c7;
	transition: all 0.4s linear;
}
#side-nav a:hover {
	font-size: 20px;
	font-weight: 600;
	color: #cbe4de;
}
#side-nav a:active {
	font-size: 18px;
	color: #faf0e6;
}
#hover {
	width: 90vw;
	height: 700px;
	padding: 16px;
	margin: 200px 100px 100px 100px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-content: center;
	/* border: 1px solid #352f44;
	border-radius: 10px; */
	/* box-shadow: 5px 5px 5px 0 #5c5470; */
}
.gallery {
	display: flex;
	justify-content: end;
	align-content: center;
  
}
.photo {
  /* border: 1px solid #352f44;
	border-radius: 10px; */
	width: 50px;
	height: 300px;
	border-radius: 16px;
	margin: 8px;
	overflow: hidden;
	transition: all 0.5s linear;
	background-color: #dbdbdb;
}
.photo:hover {
	cursor: pointer;
	transition: all 0.5s linear;
	width: 720px;
	height: 600px;
	background-color: #345654;
}
.photo img {
	width: 600px;
	height: 400px;
}